@charset "UTF-8";

tr.contentbox {
	height: 535px;
	background-color: rgb(230, 230, 230);
}

td.content {
	font-family: malgun;
	font-size: 20px;
	font-weight: bold;
	color: #303030;
	text-align: center;
}

span.content_text01 {
	font-family: malgun;
	font-size: 20px;
	font-weight: bold;
	color: rgb(128, 128, 128);	
}

input.input_type01 {
	background-color: #ffffff;
	border: 1px solid rgb(128, 128, 128);
	width: 250px;
	font-family: Arial;
	font-size: 20px;
	color: #2a2a2a;
	padding: 5px;
}

input.button_type01 {
	background-color: rgb(192, 192, 192);
	border: 2px solid #ffffff;
	width: 180px;
	height: 40px;
	font-family: malgun;
	font-size: 20px;
	color: #ffffff;
	font-weight: bold;
	padding: 5px;
}

input.button_type01:hover {
	background-color: rgb(192, 192, 192);
	border: 2px solid #ffffff;
	width: 180px;
	height: 40px;
	font-family: malgun;
	font-size: 20px;
	color: #ffffff;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}



textarea.textarea_type01 {
	background-color: #ffffff;
	border: 1px solid rgb(190, 190, 190);
	width: 250px;
	font-family: Arial;
	font-size: 20px;
	color: #2a2a2a;
	padding: 5px;
}


