@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
}

span.title01 {
	font-size: 70px;
	color: #330000;
	font-family: Arial;
	font-weight: bold;
}

span.title02 {
	font-size: 20px;
	color: rgb(190, 190, 190);
	font-family: Arial;
	font-weight: normal;
}

span.title03 {
	font-size: 60px;
	color: #330000;
	font-family: Arial;
	font-weight: bold;
}

span.title04 {
	font-size: 40px;
	color: #330000;
	font-family: Arial;
	font-weight: bold;
}

td.skillbox {
	background-color: #eeeeee;	
}

td.picbox {
	background-color: #330000;
	text-align: center;
	
}

td.titlebox {
	text-align: center;
}







